# Ignore compiled Java class files
*.class

# Ignore library files
*.jar

# Ignore log files
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific folders
.idea/
.vscode/
*.iml

# Ignore SQLite database file if you want it generated dynamically
mycollege_records.db
